[submodule "examples/C/XX.C_Programming_Examples"]
	path = examples/C/XX.C_Programming_Examples
	url = https://github.com/dluciv/c-programming-CB.5161.git
	branch = main
[submodule "examples/C/YY.utest"]
	path = examples/C/YY.utest
	url = https://github.com/sheredom/utest.h.git
	branch = main
[submodule "slides.typ/spbu-se-typst-slides"]
	path = slides.typ/spbu-se-typst-slides
	url = https://git@git.sourcecraft.dev/spbu-se/typst-slides-template.git
